# docker-compose.yml

version: '3.8'

services:
  server:
    build: ./server/.
    command: uvicorn main:app --host 0.0.0.0
    ports:
      - 8000:8000
    depends_on:
      - db
  web:
    build: ./web/.
    # command: npm run serve
    ports:
      - 80:5173
    depends_on:
      - server
  db:
    build: ./db/.
    ports:
      - 8090:8090
